// body 
//     background-image linear-gradient(125deg,#f3e7e9,#e3eeff,#dad4ec,#f3e7e9,#e6dee9)
//     animation bganimation 10s infinite
//     background-size 400%

// @keyframes bganimation
//     0%
//         background-position: 0% 50%
    
//     50%
//         background-position: 100% 50%
    
//     100%
//         background-position: 0% 50%
    

a.sidebar-link
    background none